include pyproject.toml
include src/llama_stack/models/llama/llama3/tokenizer.model
include src/llama_stack/models/llama/llama4/tokenizer.model
include src/llama_stack/core/*.sh
include src/llama_stack/cli/scripts/*.sh
include src/llama_stack/distributions/*/*.yaml
exclude src/llama_stack/distributions/ci-tests
include tests/integration/test_cases/inference/*.json
include src/llama_stack/models/llama/*/*.md
include src/llama_stack/tests/integration/*.jpg
prune src/llama_stack/distributions/ci-tests
