name: Python Package Build Test

run-name: Test building the llama-stack PyPI project

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths-ignore:
        - 'src/llama_stack/ui/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12', '3.13']

    steps:
    - name: Checkout repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Install uv
      uses: astral-sh/setup-uv@2ddd2b9cb38ad8efd50337e8ab201519a34c9f24 # v7.1.1
      with:
        python-version: ${{ matrix.python-version }}
        activate-environment: true
        version: 0.7.6

    - name: Build Llama Stack package
      run: |
        uv build

    - name: Install Llama Stack package
      run: |
        uv pip install dist/*.whl

    - name: Verify Llama Stack package
      run: |
        uv pip list
        uv pip show llama-stack
        command -v llama
        llama stack list-apis
        llama stack list-providers inference
